.auth-form {
  height: 100vh;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #111111;
  &__title {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.46px;
  }
  &__subtitle {
    font-size: 0.875rem;
    line-height: 16px;
  }
  &__form {
    max-width: 360px;
  }
  &__keep-logged-in {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
    margin-bottom: 16px;
  }
  &__footer {
    margin-top: 8px;
  }
}